/* Reset default margin and padding */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* General styles */
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .logo-container {
    max-width: 200px;
    margin: 0 auto;
  }
  
  .logo img {
    max-width: 100%;
  }
  
  .navbar {
    margin-top: 10px;
  }
  
  .main {
    padding: 20px;
  }
  
  .stock-management {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
  }
  
  .stock-management h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .stock-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .stock-table th,
  .stock-table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .stock-table th {
    background-color: #f2f2f2;
  }
  
  .stock-table img {
    max-width: 80px;
    height: auto;
  }
  
  .button-81 {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button-81:hover {
    background-color: #555;
  }
  